<div>
    <div class="section2_1">
        <div class="title">Introduction to Hardware</div>
         <div class="sub-title">Processing</div>
        <div class="hardware-points">
            <div>
                <img src="assets/processor.png" class="hardware-image" align="left"/>
            </div>
        <ul>
            <li>Known as the "Brain" or "CPU".  Your computers processor will perform tasks like multiplying a number or converting 1's and 0's into numbers or words extremely quickly.  Every component of your computer requires the brain so without your processor, the computer would stop working completely!</li> 
            <li>The speed of a CPU is measured in Gigahertz (GHz).  If we have a 2.4GHz CPU, that means we can calculate 2,400,000,000 instructions per second!  That means a CPU can calculate a math problem 2.4 billion times in just one second with 100% accuracy. </li>
            <li>Researchers say that in order to simulate 1 second of human brain activity, we would need 82,944 processors.</li> 
            <li>If the human brain were a computer, it could perform 38 thousand trillion operations per second. The world's most powerful supercomputer, BlueGene, can manage only .002% of that.</li>
        </ul><br/><br/>
        </div>
        <div class="sub-title">Storage</div>
        <div class="content hardware-content">Once your processor performs a task, it needs a way of storing its results.  This takes place inside of the computers storage system.  But, there are two types of storage systems inside of a computer:</div>
        <div class="hardware-points">
            <div>
                <img src="assets/storage_big.png" class="hardware-image" align="left"/>
            </div>
            <ul>
                <li><b>Long term (Hard drives, USB sticks, CD’s, Floppy Disks, etc)</b> - When your computer is turned off, the information stored in this part of the computer will stay.  This is where all of your pictures, videos, and applications are stored until they are manually deleted by their owner.  </li>
                <li>
                <b>Short term (RAM or Random Access Memory)</b> - This type of memory is used to store the code of any applications currently running.  Since your processor performs tasks rapidly, it needs a speedy way of pulling and storing information.  This is why Short Term memory is the fastest type of memory while Long Term is known to be quite slow because it doesn't require such high speed.      
                </li>
                <li>
                   When we talk about the amount of information a device can hold, we use bytes as a way of measuring.  1 bytes is the same as “11111111” or 8, 1’s and 0’s.   
                </li>
                <li>Hard Drives today are measured in GigaBytes and Terabytes.  1 Terabyte of storage is the equivalent to 300,000 photos, or 17,000 hours of music. </li>
                <li>Fun Facts about Storage:
                    <br> - The amount of storage needed each day to handle all of the Internet is about 2.5 Quintillion bytes of data.  That’s 2.5 million terabytes of data generated per day! 
                    <br> - Google’s CEO claims that every two days now we create as much information as we did from the beginning of civilization up until 2003.
                </li>
            </ul>
            <br />
        </div>
        <div class="sub-title">And More</div>

        <div class="content hardware-content">
           <p> A computer is made up of other puzzle pieces besides just its I/O, Storage and Processing pieces.  A computer actually has many similarities to a house.  Some other pieces of hardware you will find inside of a computer include:</p>
        </div>
        <div class="hardware-points">
            <ul class="bigger-points">
                <li>
                    <div>
                        <img src="assets/compcase.png" class="hardware-image" align="left"/>
                    </div>
                    <b>Computer Case</b> – The case is just like the roof to your house.  It protects you from the sun and rain.  The computer case performs the same way as your roof, it protects the computer’s hardware from things that could hurt it like water and dust.
                </li> 
                <li>
                    <div>
                        <img src="assets/motherboard_big.png" class="hardware-image" align="left"/>
                    </div>
                    <b>Motherboard</b> – Think of the motherboard as the inside of a house.  A house has different rooms like bathrooms, living rooms, and kitchens.  Inside of these room’s lives different pieces of furniture like couches, tables and lights.  A motherboard is the basis for all of your hardware.  Every piece of computer equipment is plugged into the motherboard so that each piece of equipment can communicate with each other.
                </li>
                <li>
                    <div>
                        <img src="assets/power-supply.png" class="hardware-image" align="left"/>
                    </div>
                    <b>Power Supply</b> – Your power supply is what gives your computer hardware life.  Without electricity, your computer simply cannot be turned on.  The power supply provides power to each individual piece of hardware inside the case of your computer.
                </li>
                <li>
                    <div>
                        <img src="assets/video-card.png" class="hardware-image" align="left"/>
                    </div>
                    <b>Video Card</b> – This provides the computer a way of plugging into an output device like a monitor or projector.  The video card plugs into your motherboard and sticks out the back of your computer case to allow for easy access for you to plug in your video cable.
                </li>

            </ul>
        </div>
        <button onclick="updateLink('thanks');">And...</button>


    </div>
</div>