<div id="contentHeading">
	Kids now it's time to challenge yourself. Your learned what a programming language is previously. Now let's try to do some basic coding. 
	Your computer's browser like Google Chrome/Firefox/Internet Explorer/Safari understand only a few languages which is mainly HTML, CSS and JavaScript. You don't need to worry about these languages and you don't speak them. We will learn a basic programming concept using this analogy. 
</div>

<div class="termianlView">
<div>
<div class="floatLeft">function update(<span id="hoverExplain"  ng-mouseover="consoel.log('hello');" contenteditable>color</span>)</div>
</div> <div class="floatLeft"></div>
<div class="updateFnContent" ng-show="{{function.show}}">
{
 var heading = document.getElementById('contentHeading');
 headset.style.color = color;
}
</div>
</div>
