@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@font-face {
	font-family: Sanfranlight;
	src: url(../sanfran/SanFranciscoText-Thin.otf);
}
body {
	font: 100%/1.5 "Sanfranlight", Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #fff;
	margin: 0;
	padding: 0;
}
.main {
		display: table;
		width: 100%;
		height: 100vh;
}

.main .content {
	font-family: 'Varela Round', sans-serif;
	color: #385D8A;
	display: block;
	margin-bottom: 30px;
	font-size: 18px;
}
.header {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.title {
	color: #f35626;
		background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-animation: hue 60s infinite linear;
		font-size: 64px;
}
.sub-header {
	font-size: 24px;
	color: gray;
	margin-bottom: 40px;
}
button {
	cursor: pointer;
}
.main button {
	border: 2px solid #FF5283;
	color: red;
	background: transparent;
	border-radius: 3px;
	font-size: 24px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.main button:hover {
	color: white;
	background: #FF5283;
	transition: all 150ms ease;
}
.section1 {
	width: 100%;
	height: 100vh;
	background: #fff;
	display: table;
	padding: 40px;
}
.section1 .title {
	position: relative;
	left: 40px;
	top: 40px;
	font-size: 72px;
	padding: 40px;
	color: #385D8A;
}
.section1 .sub-title {
	font-size: 48px;
	color: white;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #385D8A;
}
.section1 .content {
	font-family: 'Varela Round', sans-serif;
	color: #385D8A;
	display: block;
    margin-bottom: 30px;
    font-size: 18px;
}
.section1 img {
	max-height: 150px;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
.section1 ul {
	position: relative;
	top: 60px;
	left: 25px;
	color: white;
	font-family: 'Varela Round', sans-serif;
}
.section1 button {
	position: relative;
	top: 80px;
	left: 45px;
	border: 2px solid #FF5283;
	color: #FF5283;
	background: transparent;
	border-radius: 3px;
	font-size: 24px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.section1 button:hover {
	color: white;
	background: #FF5283;
	transition: all 150ms ease;
}
.section1 .number {
	font-size: 42px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: #cc181e;
    color: white;
    width: 60px;
    margin: auto;
    border-radius: 50%;
}
.section1 .logo {
	max-height: 40px;
}
.section1 .logo img {
	max-height: 40px;
}
.section1 .link {
	text-align: center;
    background: transparent;
	border: 1px solid #cc181e;
	color: #cc181e;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
    border-radius: 5px;
}
.section1 .link:hover {
	cursor: pointer;
	background-color: #cc181e;
    color: white;

}
.section2 {
	width: 100%;
	height: 100vh;
	background: #fff;
	display: table;
	padding: 40px;
}
.section2 .title {
	font-size: 48px;
	color: white;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #CC4EB1;
}
.section2 .sub-title {
	font-size: 48px;
	color: white;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #BF9106;
}
.section2 .content {
	font-family: 'Varela Round', sans-serif;
	color: #BF9106;
	display: block;
    margin-bottom: 30px;
    font-size: 18px;
}
.section2 img {
	width: 100%;
	float: right;

}
.section2 ul {
	position: relative;
	top: 60px;
	left: 25px;
	color: white;
}
.section2 button {
	top: 80px;
	left: 45px;
	border: 2px solid #FF5283;
	color: #FF5283;
	background: transparent;
	border-radius: 3px;
	font-size: 24px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.section2 button:hover {
	color: white;
	background: #FF5283;
	transition: all 150ms ease;
}
.section2_1 {
	width: 100%;
	height: 100%;
	display: table;
	padding: 40px;
}
.section2_1 .title {
	font-size: 48px;
	color: white;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #CC4EB1;
}
.section2_1 .sub-title {
	font-size: 48px;
	color: white;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #BF9106;
}
.section2_1 .content {
	font-family: 'Varela Round', sans-serif;
	color: #BF9106;
	display: block;
    margin-bottom: 30px;
    font-size: 18px;
}
.section2_1 ul {
	position: relative;
	top: 60px;
	left: 25px;
	color: white;
}
.section2_1 button {
	top: 80px;
	left: 45px;
	border: 2px solid #FF5283;
	color: #FF5283;
	background: transparent;
	border-radius: 3px;
	font-size: 24px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.section2_1 button:hover {
	color: white;
	background: #FF5283;
	transition: all 150ms ease;
}
.floatLeft{
	float: left;
}
.termianlView{
	color: #0f0;
	background-color: #000000;
	width: 600px;
	height: 400px;
	overflow: auto;
	margin-right: 70px;
}
.arrowRight{
	position: relative;
	top: 4px;
	height: 12px;
	width: 8px;
}
.pad_t{
	padding-top: 10px;
}

.pad_l{
	padding-left: 10px;
}

.pad_l_3{
	padding-left: 3px;
}

.pad_r{
	padding-right: 10px;
}

.pad_b{
	padding-bottom: 10px;
}
.pad_t{
	padding-top: 10px;
}

.pointer{
	cursor: pointer;
}
.fnContents{
	margin-left: 23px;
}
.fnContent{
	margin-left: 27px;
}
.runButton{
	color:white;
	font-weight:bold;
	margin-left:5px;
	text-decoration: none;
}
.runButton:hover{
	text-decoration: none;
	color: white;
}
.floatRight{
	float: right;
}
.default_cursor{
	cursor: default;
}
.type_cursor{
	cursor: text;
}
.fmp-card {
	background-color: transparent !important;
	max-height: 100% !important;
    max-width: 200px !important;
    background-size: contain !important;
    box-shadow: none !important;
}
.unflip {
	left: 0 !important;
	top: 100 !important;
	width: 400px !important;
    height: 600px !important;
    display: block !important;
    background-color: white !important;
    z-index: 1 !important;
}
#card {
	min-height: 100%;
	min-width: 100%;
}
.flipBasic {
	background-color: transparent;
	outline: 1px solid #E0E0E0;
}

.hardware-points{
	width: 40%;
}

.hardware-points ul{
	color: #BF9106;
	position: relative;
	top:1px;
	font-family: 'Varela Round', sans-serif;


}

.hardware-component{
	height: 200px;
	position: relative;
	left:40px;
}

.hardware-image{
	max-height: 250px;
	max-width: 200px;
	padding: 5px;
}

.bigger-points li{
	height: 200px;
}

.bigger-points{
	position: relative !important;
	left:-35px !important;
}

.hardware-content{
	width: 40%;
}
.hardware-hover-image{
	height: 300px;
}